<!DOCTYPE html>
<html>

<head>
  <title>

  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%- pageName %>
  </h1>
  <p>Welcome to <%- pageName %>
  </p>
  <p>Today is <%- time %> and the current logged in user is <%- user %>
  </p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/specs">Specs</a></li>
    <li><a href="/intro">Intro</a></li>
  </ul>

  <p id="specs"></p>

  
  
  
</body>

</html>
