<!DOCTYPE html>
<html>
  <head>
    <title>Intro</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <p>Welcome to Intro

      
    </p>
    <ul>
      <li><a href="/">Back to Home</a></li>
    
    </ul>
    <button type="button" onclick="myFunction()">Build your Own Specs!</button>

  </body>
</html>
